#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

header{
  display:flex;
  justify-content: space-between;
  gap:1rem;
  align-items: center;
}

main{
  display: flex;
  flex-direction:column;
  gap:1rem;
}

.benefits-list{
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.benefits-list h3{
  padding-bottom:0.5rem;
}

.movie-card {
  display: flex;
  flex-direction: column; /* Stack image, title, and button vertically */
  align-items: center; /* Center the content horizontally */
  width: 200px; /* Set a fixed width for the card */
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a; /* Example background */
  padding: 0.5rem;
}

.movie-card img{
  border-bottom:white 2px solid;
  height:300px;
  width:100%
}

.movie-card button{
  margin-top:1rem;
}

.results-container{
  display:grid;
  grid-template-columns:auto auto auto;
  gap:1rem;
  margin-top:10px;
}

.search-section{
  display:flex;
  gap:2rem;  
  padding:0 3rem;
}

.movie-form-heading{
  margin-left: auto;
  margin-right:auto;
}

.info-section{
  text-align: center;
}

.selectable-options{
  display: flex;
  justify-content: space-evenly;

}

table,tr,td,th{
  width:100%;
  margin:auto;
}

.delete{
  background-color:#d11a2a;
  color:#1a1a1a;
  border-color:transparent;
}

.movie-add-msg{
  border: solid grey 2px;
  padding:2rem;
  text-align: center;
}

.movie-add-msg h2{
  margin: auto;
}

.movie-add-msg p{
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: var(--background-muted);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  position:relative;
  z-index:101;
  max-width:600px;
  width:100%;
  border: 1px solid var(--border-primary);
  padding:1rem;
  display:flex;
  flex-direction:column;
  gap:1rem;
  align-items: center;
  background:var(--background-primary);
  border-radius:var(--border-radius-large);
  
}

.modal-content hr{
  width:100%
}

.register-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}